Interface.Post.Goods.Issue.PWS.To.CDM/Integration.Account/Schemas/PWS.PostGoodsIssue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (http://www.altova.com) by Jon Vaughan (Linfox Pty Ltd) -->
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://linfox.com/Horizons/PGI/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://linfox.com/Horizons/PGI/V1">
	<xs:element name="ID" type="xs:string"/>
	<xs:element name="UOM" type="xs:string"/>
	<xs:element name="Batch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BatchCode"/>
				<xs:element ref="SLEDorBBD" minOccurs="0"/>
				<xs:element ref="Quantity"/>
				<xs:element ref="UOM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GIItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShpOdrLineItemNo"/>
				<xs:element ref="LfxShpOdrLineItemNo"/>
				<xs:element ref="AddnRefDetails1" minOccurs="0"/>
				<xs:element ref="AddnRefDetails2" minOccurs="0"/>
				<xs:element ref="AddnRefDetails3" minOccurs="0"/>
				<xs:element ref="AddnRefDetails4" minOccurs="0"/>
				<xs:element ref="AddnRefDetails5" minOccurs="0"/>
				<xs:element ref="MaterialCode"/>
				<xs:element ref="GTINCode" minOccurs="0"/>
				<xs:element ref="MaterialName"/>
				<xs:element ref="OrderQuantity"/>
				<xs:element ref="BaseUOM"/>
				<xs:element ref="BackOrderQuantity" minOccurs="0"/>
				<xs:element ref="StockCategoryType"/>
				<xs:element ref="PGIQuantity"/>
				<xs:element ref="BatchDetails" minOccurs="0"/>
				<xs:element ref="SerialNumberDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HUType" type="xs:string"/>
	<xs:element name="BaseUOM" type="xs:string"/>
	<xs:element name="GLNCode" type="xs:string"/>
	<xs:element name="CustomerName" type="xs:string"/>
	<xs:element name="GIHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LfxShpOdrNbr"/>
				<xs:element ref="PrmCustShpOdrNbr"/>
				<xs:element ref="SalesOrderNumber"/>
				<xs:element ref="CustPONbr" minOccurs="0"/>
				<xs:element ref="ConNoteNumber"/>
				<xs:element ref="TrackingURL"/>
				<xs:element ref="AddnRefDetails1" minOccurs="0"/>
				<xs:element ref="AddnRefDetails2" minOccurs="0"/>
				<xs:element ref="AddnRefDetails3" minOccurs="0"/>
				<xs:element ref="TransportProvider"/>
				<xs:element ref="TransportProviderName"/>
				<xs:element ref="ShipSrvCode"/>
				<xs:element ref="TotalPalletsCount"/>
				<xs:element ref="TotalCaseCount"/>
				<xs:element ref="TotalShipWeight"/>
				<xs:element ref="TotalShipWeightUOM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GTINCode" type="xs:string"/>
	<xs:element name="HUNumber" type="xs:string"/>
	<xs:element name="HUWeight" type="xs:byte"/>
	<xs:element name="ParentHU" type="xs:string"/>
	<xs:element name="Quantity" type="xs:decimal"/>
	<xs:element name="BatchCode" type="xs:string"/>
	<xs:element name="CustPONbr" type="xs:string"/>
	<xs:element name="SLEDorBBD" type="xs:date"/>
	<xs:element name="WeightUOM" type="xs:string"/>
	<xs:element name="HULineItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShipOrderLineItemNo"/>
				<xs:element ref="LfxShpOdrLineItemNo"/>
				<xs:element ref="AddnRefDetails1" minOccurs="0"/>
				<xs:element ref="AddnRefDetails2" minOccurs="0"/>
				<xs:element ref="MaterialCode"/>
				<xs:element ref="PGIQuantity"/>
				<xs:element ref="UOM"/>
				<xs:element ref="BatchDetails" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SerialNumberDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GIItemLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GIItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PGIQuantity" type="xs:decimal"/>
	<xs:element name="ShipSrvCode" type="xs:string"/>
	<xs:element name="TrackingURL" type="xs:anyURI"/>
	<xs:element name="BatchDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Batch" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreationDate" type="xs:dateTime"/>
	<xs:element name="LfxShpOdrNbr" type="xs:string"/>
	<xs:element name="MaterialCode" type="xs:string"/>
	<xs:element name="MaterialName" type="xs:string"/>
	<xs:element name="ParentHUType" type="xs:string"/>
	<xs:element name="SerialNumber" type="xs:string"/>
	<xs:element name="ConNoteNumber" type="xs:string"/>
	<xs:element name="MessageHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID"/>
				<xs:element ref="CreationDate"/>
				<xs:element ref="GLNCode"/>
				<xs:element ref="CustomerName"/>
				<xs:element ref="WarehouseLocationCode"/>
				<xs:element ref="TestIndicator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderQuantity" type="xs:decimal"/>
	<xs:element name="StockCategory">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TestIndicator" type="xs:string"/>
	<xs:element name="ParentHUWeight" type="xs:decimal"/>
	<xs:element name="PostGoodsIssue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageHeader"/>
				<xs:element ref="GIHeader"/>
				<xs:element ref="GIItemLevel"/>
				<xs:element ref="HandlingUnitDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TotalCaseCount" type="xs:byte"/>
	<xs:element name="AddnRefDetails1" type="xs:string"/>
	<xs:element name="AddnRefDetails2" type="xs:string"/>
	<xs:element name="AddnRefDetails3" type="xs:string"/>
	<xs:element name="AddnRefDetails4" type="xs:string"/>
	<xs:element name="AddnRefDetails5" type="xs:string"/>
	<xs:element name="TotalShipWeight" type="xs:decimal"/>
	<xs:element name="PrmCustShpOdrNbr" type="xs:string"/>
	<xs:element name="SalesOrderNumber" type="xs:string"/>
	<xs:element name="ShpOdrLineItemNo" type="xs:int"/>
	<xs:element name="BackOrderQuantity" type="xs:decimal"/>
	<xs:element name="StockCategoryType" type="xs:string"/>
	<xs:element name="TotalPalletsCount" type="xs:byte"/>
	<xs:element name="TransportProvider" type="xs:string"/>
	<xs:element name="HandlingUnitDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ParentHU" minOccurs="0"/>
				<xs:element ref="ParentHUWeight" minOccurs="0"/>
				<xs:element ref="ParentHUType" minOccurs="0"/>
				<xs:element ref="HUNumber"/>
				<xs:element ref="HUType"/>
				<xs:element ref="HUWeight"/>
				<xs:element name="Cube" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CubeUoM" type="xs:string" minOccurs="0"/>
				<xs:element ref="WeightUOM"/>
				<xs:element ref="HULineItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TotalShipWeightUOM" type="xs:string"/>
	<xs:element name="HandlingUnitDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HandlingUnitDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LfxShpOdrLineItemNo" type="xs:int"/>
	<xs:element name="SerialNumberDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SerialNumber" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipOrderLineItemNo" type="xs:byte"/>
	<xs:element name="TransportProviderName" type="xs:string"/>
	<xs:element name="WarehouseLocationCode" type="xs:string"/>
</xs:schema>
