Interface.Post.Goods.Receipt.PWS.To.CDM/Integration.Account/Schemas/PWS.PostGoodsReceipt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (http://www.altova.com) by Jon Vaughan (Linfox Pty Ltd) -->
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://linfox.com/Horizons/PGR/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://linfox.com/Horizons/PGR/V1">
	<xs:element name="ID" type="xs:string"/>
	<xs:element name="Batch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VendorBatchCode" minOccurs="0"/>
				<xs:element ref="WMSBatchCode" minOccurs="0"/>
				<xs:element ref="SLEDorBBD" minOccurs="0"/>
				<xs:element ref="ManufacturingDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GRDate" type="xs:date"/>
	<xs:element name="GRItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WMSDeliveryLineItem"/>
				<xs:element ref="PrmCustOrderNumber"/>
				<xs:element ref="PrmCustOrderLineItmNumber" minOccurs="0"/>
				<xs:element ref="AddnRefNumber1" minOccurs="0"/>
				<xs:element ref="AddnRefNumber2" minOccurs="0"/>
				<xs:element ref="AddnRefNumber3" minOccurs="0"/>
				<xs:element ref="AddnRefNumber4" minOccurs="0"/>
				<xs:element ref="AddnRefNumber5" minOccurs="0"/>
				<xs:element ref="MaterialCode"/>
				<xs:element ref="MaterialName"/>
				<xs:element ref="GTINCode" minOccurs="0"/>
				<xs:element ref="StockCategory" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GRTime" type="xs:time"/>
	<xs:element name="GRType" type="xs:string"/>
	<xs:element name="HULine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WMSDeliveryNumber"/>
				<xs:element ref="WMSDeliveryLineItem"/>
				<xs:element ref="PrmCustOrderNumber"/>
				<xs:element ref="PrmCustOrderLineItmNumber"/>
				<xs:element ref="MaterialCode"/>
				<xs:element ref="StockCategory" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GLNCode" type="xs:string"/>
	<xs:element name="CustomerName" type="xs:string"/>
	<xs:element name="GRHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WMSDocNumber"/>
				<xs:element ref="PrmCustDocRefNo"/>
				<xs:element ref="PrimCustDocType"/>
				<xs:element ref="GRType"/>
				<xs:element ref="AddnRefNumber1" minOccurs="0"/>
				<xs:element ref="AddnRefNumber2" minOccurs="0"/>
				<xs:element ref="AddnRefNumber3" minOccurs="0"/>
				<xs:element ref="GRDate"/>
				<xs:element ref="GRTime"/>
				<xs:element ref="WayBillID" minOccurs="0"/>
				<xs:element ref="ContainerID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HUNumber" type="xs:int"/>
	<xs:element name="Quantity" type="xs:byte"/>
	<xs:element name="GTINCode" type="xs:string"/>
	<xs:element name="SLEDorBBD" type="xs:date"/>
	<xs:element name="WayBillID" type="xs:string"/>
	<xs:element name="ContainerID" type="xs:string"/>
	<xs:element name="GRItemLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GRItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QuantityUOM" type="xs:string"/>
	<xs:element name="BatchDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Batch" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreationDate" type="xs:dateTime"/>
	<xs:element name="CreationTime" type="xs:int"/>
	<xs:element name="HandlingUnit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HUNumber"/>
				<xs:element ref="PackagingMaterialType"/>
				<xs:element ref="PackagingMaterialName"/>
				<xs:element ref="GrossWeightOfHandlingUnit"/>
				<xs:element ref="NetWeightOfHandlingUnit"/>
				<xs:element ref="WeightUOMOfHandlingUnit"/>
				<xs:element ref="HULine" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaterialCode" type="xs:string"/>
	<xs:element name="MaterialName" type="xs:string"/>
	<xs:element name="SerialNumber" type="xs:long"/>
	<xs:element name="WMSBatchCode" type="xs:string"/>
	<xs:element name="WMSDocNumber" type="xs:string"/>
	<xs:element name="MessageHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID"/>
				<xs:element ref="CreationDate"/>
				<xs:element ref="GLNCode"/>
				<xs:element ref="CustomerName"/>
				<xs:element ref="WarehouseLocationCode"/>
				<xs:element ref="TestIndicator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StockCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StockCategoryType"/>
				<xs:element ref="Quantity"/>
				<xs:element ref="QuantityUOM"/>
				<xs:element ref="BatchDetails" minOccurs="0"/>
				<xs:element ref="SerialNumberDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TestIndicator" type="xs:string"/>
	<xs:element name="AddnRefNumber1" type="xs:string"/>
	<xs:element name="AddnRefNumber2" type="xs:string"/>
	<xs:element name="AddnRefNumber3" type="xs:string"/>
	<xs:element name="AddnRefNumber4" type="xs:string"/>
	<xs:element name="AddnRefNumber5" type="xs:string"/>
	<xs:element name="PrimCustDocType" type="xs:string"/>
	<xs:element name="PrmCustDocRefNo" type="xs:string"/>
	<xs:element name="VendorBatchCode" type="xs:string"/>
	<xs:element name="PostGoodsReceipt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageHeader"/>
				<xs:element ref="GRHeader"/>
				<xs:element ref="GRItemLevel"/>
				<xs:element ref="HandlingUnitDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ManufacturingDate" type="xs:date"/>
	<xs:element name="StockCategoryType" type="xs:string"/>
	<xs:element name="WMSDeliveryNumber" type="xs:string"/>
	<xs:element name="PrmCustOrderNumber" type="xs:string"/>
	<xs:element name="HandlingUnitDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HandlingUnit" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SerialNumberDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SerialNumber" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WMSDeliveryLineItem" type="xs:byte"/>
	<xs:element name="PackagingMaterialName" type="xs:string"/>
	<xs:element name="PackagingMaterialType" type="xs:string"/>
	<xs:element name="WarehouseLocationCode" type="xs:string"/>
	<xs:element name="NetWeightOfHandlingUnit" type="xs:decimal"/>
	<xs:element name="WeightUOMOfHandlingUnit" type="xs:string"/>
	<xs:element name="GrossWeightOfHandlingUnit" type="xs:decimal"/>
	<xs:element name="PrmCustOrderLineItmNumber" type="xs:short"/>
</xs:schema>
